:root {
  --p1: #f4f4ee;
  --p2: #1d0d00;
  --p3: #223411;
  --p4: #607848;
  --p5: #76a04c;
}

* {
  box-sizing: border-box;
  color: var(--p2);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--p1);
}

p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

p,
a,
i {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  padding: 1rem 2rem;
}

.section-container {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  color: var(--p5);
}

.paragraph {
  font-size: 1.15rem;
  color: var(--p2);
}

.btn {
  width: fit-content;
  background: var(--p5);
  border: none;
}

.btn:hover {
  background: var(--p4);
  scale: 1.02;
  transition: all 0.5s;
}
