:root {
  --p1: #f4f4ee;
  --p2: #1d0d00;
  --p3: #223411;
  --p4: #607848;
  --p5: #76a04c;
}

* {
  box-sizing: border-box;
  color: var(--p2);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--p1);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p,
a,
i {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  padding: 1rem 2rem;
}
